#!/bin/bash

now=$(date +%d-%b-%H_%M)
folder=/var/interview/backup/$now

mkdir $folder
docker exec homework-db /usr/bin/mysqldump -u root --password={{ db_root_password }} {{ db_name }} > $folder/dbdump.sql

tar -czf /var/interview/backup/backup_$now.tgz $folder/*

rm -rf $folder

find /var/interview/backup/ -daystart -mtime +1 -delete
